
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html{scroll-behavior: smooth;}

body {position: relative;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}



/*----------------------------
       HEADER START
------------------------------*/



.header {
	/*min-width: 100%;*/
	background: #eff0f2;
	background-size: 100%;
	padding-top: 65px;
	padding-bottom: 195px;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 20px;
	position:relative;
}
.header-wrap {
	display: flex;
	justify-content: space-between;
	/*margin-bottom: 200px;*/
}

/*-------menu start---------- */
.header__menu {
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu__btn {
	display: block;	
	width: 35px;
	height: 35px;
	position: relative;
}
.menu__btn_burger,
.menu__btn_burger::before,
.menu__btn_burger::after {
	position: absolute;
	top: 50%; margin-top: -2px;
	left: 50%; margin-left: -15px;
	width: 30px;
	height: 4px;
	background-color: #505050;
	border-radius: 2px;
}
.menu__btn_burger::before,
.menu__btn_burger::after {
	content: '';
	display: block;
	transition: 0.2s;
}
.menu__btn_burger::before {
	transform: translateY(-8px);
}
.menu__btn_burger::after {
	transform: translateY(8px);
}
.menu__btn_active .menu__btn_burger {
	height: 0;
}
.menu__btn_active .menu__btn_burger:before {
	transform: rotate(45deg);
}
.menu__btn_active .menu__btn_burger:after {
	transform: rotate(-45deg);
}
.menu__nav{
	transition: 0.5s;
	transform-origin: right center;
	transform: scaleX(0) translateX(20%);
	opacity: 0;

}
.menu__nav-link {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	text-decoration: none;
	color: #505050;
	text-transform: uppercase;
	margin-right: 10px;
	font-size: 17px;

}
.menu__nav-link:hover {
	color: #000;
	transition: 0.3s;
	background: linear-gradient(to top, #b2f2ee 0%, #eff0f2 20%);
}
.menu__nav_active {
	transform: scaleX(1) translateX(0%);
	opacity: 1;
}
/*----------menu end------------*/
.title {
	background-color: #eff0f2;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 200px;
	position: relative;
}
.title__main{
	width: 85%;
	margin:0 auto;
	text-align: center;
	text-transform: uppercase;
	color: #505050;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 5px 8px 10px rgba(0, 0, 0, 0.24);
	margin-bottom: 150px;
	font-size: 45px;
	font-weight: bold;
	line-height: 1.3;
}


.title__main_selected {
	background: #b2f2ee;
	padding-right: 15px;
	padding-left: 15px;
}

.title__link:hover {
	background-color: #b2f2ee;
}
.title__link{
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	color: rgba(0, 0, 0, 0.749);
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 40px;
	background-color: transparent;
	border: 2px solid #777879;
	cursor: pointer;
}
.glass {
	position: absolute;
	right: 0;
	bottom: -100px;
}

/*----------------------------
       HEADER END
------------------------------*/
/*----------------------------
       ABOUT START
------------------------------*/

.about {
	background-color: #f8fafa;
	padding-top: 125px;
	padding-bottom: 115px;
}
.blocks-title {
	text-align: center;
	margin-bottom: 125px;
}
.blocks-title__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	font-weight: bold;
	color: #191919;
	text-transform: uppercase;
	margin: 0;
	line-height: 1;
	margin-bottom: 15px;
}
.blocks-title__subtitle {
	font-size: 17px;
	color:#616161;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	margin: 0;
	line-height: 1;
}
.about-wrapper {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
}
.about_img {
	width:42%;
	/*height:413px;*/
	height: auto;

	background-color: #eff0f2;
	position: relative;
	top: 35px;
}
.image{
	position: absolute;
	top: 50%;
	left: 50%;
/*	width: 82%;
	height: auto;*/
	transform: translate(-50%,-50%);
	box-shadow: 0 0 10px silver;
}

.about__article {
	width: 42%;
	margin-right: 35px;
}

.about__article_title {
	font-size: 20px;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: bold;
	color: #191919;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 35px;
}
.about__article_title:nth-child(2n) {
	font-size: 17px;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: bold;
	color: #191919;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 35px;
}
.about__article_paragraph {
	font-size: 16px;
	color:#616161;
	line-height: 1.6;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	margin-bottom: 40px;
}
.about__article_paragraph:last-child{
	margin-bottom: 0;
}
@media(max-width: 992px){
	.about_img{
		display: none;
	}

	.about-wrapper{
		justify-content: center;
		align-items: center;
	}
	.about__article {
		width: 80%;
		margin:0 auto;
	}

}
/*----------------------------
       ABOUT END
------------------------------*/
/*----------------------------
       WORKS START
------------------------------*/
.works {
	padding-top: 130px;
	padding-bottom:125px;
}
.works-gallery{
	display: flex;
	justify-content: space-between;
}
.works-gallery-item{
	display: flex;
	flex-direction: column;
}
.works-img{
	margin-bottom: 13px;
	width: 100%;
	height: auto;
}
@media (max-width:1160px){
	.works-gallery{
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.works-gallery-item{
		max-width: 100%;
		display: flex;
		flex-direction: row;
	}
	.works-img:first-child{
		margin-right: 13px;
	}
}
@media (max-width:992px){
	.works-img {
		width: 49%;
	}
}
/*----------------------------
       WORKS END
------------------------------*/
/*----------------------------
       SERVISES START
------------------------------*/

.servises {
	padding-top: 125px;
	background: #f9fbfb;
	padding-bottom: 125px;
}

.servises-description {
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-between;
}

/*-----------------------*/
.generic-items {
	
	display: flex;
	flex-direction: column;
	vertical-align: middle;
	justify-content: space-between;
	box-sizing: border-box;
	position: relative;
	padding:132px 0 53px 69px;
	transition: 0.3s;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.generic-items::before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.55);
	transition: 0.3s;
}
.service__item1 {
	width: 57%;
	height: 420px;
	margin-bottom: 13px;
	background-image: url(../img/services/tea.jpg);
}

.service__item2 {
	flex-shrink: 0;
	width: 42%;
	height: 420px;
	margin-bottom: 13px;
	background-image: url(../img/services/org.jpg);
}

.service__item3 {
	width: 57%;
	height: 370px;
	margin-bottom: 13px;
	background-image: url(../img/services/mcbook.jpg);
}

.service__item4 {
	width: 42%;
	height: 370px;
	margin-bottom: 13px;
	background-image: url(../img/services/careers.jpg);
}

.service__item5 {
	width: 42%;
	height: 370px;
	background-image: url(../img/services/botle5.jpg);
	margin-bottom: 13px;
}

.service__item6 {
	width: 57%;
	height: 370px;
	background-image: url(../img/services/plates.jpg);
}


/*  
        servises text   
*/

.description-item {
	height: 70px;
	width: 85%;
	color: #fff;
	position: relative;
	z-index: 1;
	
}
.description-item_title{
	font-size: 20px;
	font-weight: bold;
    text-transform: uppercase;
    line-height: 1.45;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
.description-item_txt {
	font-size: 16px;
	line-height: 1.5;
	opacity: 0.9;
	font-family: 'Raleway', sans-serif;
}
.description-item .hide-text {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.servises__block-active{
	padding-top: 50px;

}
.servises__block-active .description-item_txt,
.servises__block-active .description-item_title {
	color: black;
}
.servises__block-active .hide-text {
	overflow: auto;
	white-space: normal;
}
.servises__block-active::before{
	transition: 0.3s;
	background-color: #6df6eb;
	width: 100%;
}
@media(max-width: 992px){
	.generic-items {
		width: 49%;
	}
	.servises__block-active{
		padding-top: 30px;
		padding-left: 30px;
	}
}
@media(max-width: 768px){
	
	.generic-items {

		
		width: 100%;
		height: 250px;
		padding-top:20px;
		padding-bottom:20px;
	}
	.description-item{
		margin-bottom: 40px;
	}
	.servises__block-active .button_more {
		position: absolute;
		top: 30px;
		right: -60px;
	}
	.servises__block-active .generic-items{
		/*height: 100%;*/
		/*box-sizing: content-box;*/
	}
}
/*  
        servises button  
*/

.button_more {
	position:relative;
	display: block;
	width: 125px;
	background: transparent;
	font-size: 18px;
	text-transform: uppercase;
	opacity: 0.8;
	color: #fff;
	cursor: pointer;
	outline: none;
	box-shadow: none;
	border: none;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
}
.button-sign {
	position: absolute;
	background: white;
	width: 20px;
	height: 2px;
	top: 50%; margin-top: -1px;
	left: 100%;
	transition: 0.3s;
}
.button-sign::before,
.button-sign::after {
	position: absolute;
	top: 0;
	right: 0;
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	background: white;
}
.button-sign::before {
	transform-origin: right bottom;
	transform: rotate(35deg);
}

.button-sign::after {
	transform-origin: right top;
	transform: rotate(-35deg);
}
.arrow-active .button-sign{
	height: 0;
	left: 0;
}
.arrow-active .button-sign::before{
	transform-origin: center;
	transform: rotate(45deg);
	width: 20px;
	background:rgba(0, 0, 0, 0.4);
}
.arrow-active .button-sign::after{
	transform-origin: center;
	transform: rotate(-45deg);
	width: 20px;
	background:rgba(0, 0, 0, 0.4);
}
.button-txt{
	transform-origin: left center;
	display: inline-block;
	transition: 0.3s;
}
.arrow-active .button-txt {
	transform: translateX(-100%);
	transform: scale(0);
}


/*----------------------------
       SERVISES END
------------------------------*/
/*----------------------------
       TEAM START
------------------------------*/

.team {
	padding-top:121px;
	padding-bottom:118px;
	margin:0 auto;
}
.photoframe {
	width: 368px;
	height: 439px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.teammates {
	display: flex;
	justify-content: space-between;
	/*flex-wrap: wrap;*/
	flex-direction: row;
}
.teammates-item{
	display: flex;
	flex-direction: column;
	/*justify-content: space-around;*/
}
.teammate1 {
	background-image: url(../img/team/teamgirl.jpg);
	margin-bottom: 14px;
}
.profile {
	position: relative;
	width: 90%;
	height: 240px;
	background: #70f6eb;
	margin:0 auto;
	margin-top: 185px;
	padding: 41px 55px 41px 39px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: scale(0);
	transition: 0.5s;
	transform-origin: top left;
}
.profile::after {
	position: absolute;
	top:-25px;
	left: 21px;
	content: "";
	border: 10px solid transparent; 
	border-bottom: 15px solid #70f6eb;
}
.show_profile{
	display: block;
	transform: scale(1);
	transition: 0.3s;
	transform-origin: bottom right;
}	
.profile-description{
	width: 95%;

}
.profile-description_name{
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 0;
	font-weight: bold;
	margin-bottom: 25px;
	font-family: 'Montserrat', sans-serif;
}
.profile-description_position {
	font-size: 15px;
	font-style: italic;
	background: transparent;
	padding: 0;
	color: #767776;
	font-weight: normal;
	text-transform: none;
}
.profile-description_txt{
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.8);
	margin-top: 0;
	margin-bottom: 40px;
}

.profile_social {
	display: flex;
}
.profile_social_item {
	margin-right: 13px;
}
.profile_social_item:last-child{
	margin-right: 0;
}
.teammate2 {
	background-image: url(../img/team/team_black.jpg);
	margin-bottom: 14px;
}
.teammate3 {
	background-image: url(../img/team/team_man.jpg);
	margin-bottom: 14px;
}
.teammate4 {
	background-image: url(../img/team/team_boy.jpg);
	margin-bottom: 14px;
}
.teammate5 {
	background-image: url(../img/team/girlteam.jpg);
	margin-bottom: 14px;
}
.teammate6 {
	background-image: url(../img/team/teamgirl.jpg);
	margin-bottom: 14px;
}
@media (max-width:1160px){
	.teammates{
		flex-direction: column;
		align-items: center;
	}
	.teammates-item {
		flex-direction: row;
	}	
	.photoframe{
		margin-right: 15px;
	}
	.photoframe:nth-child(even){
		margin-right: 0;
	}
}
@media (max-width:992px){
	.teammates-item{
		margin:0 auto;
		width: 90%;
	}
	.photoframe {
		width: 49%;
		height: auto;
	}
	.profile{
		padding: 20px 20px 20px 39px;
	}
}
@media (max-width:992px){
	.profile{
		padding: 10px 20px 20px 10px;
	}
}
@media (max-width:576px){
	.teammates-item {
		flex-direction: column;
	}	
	.photoframe {
		width: 100%;
		height: auto;
	}
}
/*----------------------------
       TEAM END
------------------------------*/

/*----------------------------
       COMMENTS START
------------------------------*/
.comments .container{
	overflow: hidden;

}
.comments .blocks-title{
	margin-bottom: 90px;
}
.comments {
	background-color: #f9fbfb;
	padding-top: 120px;
	padding-bottom: 130px;
}
.wrapper-scroll{
	overflow: hidden;
	position: relative;
}


/*----------------------------------*/
/* Слайдер */
.slick-slider{
	padding: 30px 0 90px 0;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}

.slick-list {
	
	/*overflow: visible;*/
}
/* Лента слайдов */
.slick-track{
	max-width: 100%;
	min-width: 100%;
	display: flex;
}


.comments-wrapper{
	display: flex;
	justify-content: space-between;
	min-width: 1140px;
}
.comments-gallery {
	width: 34%;
	height: 364px;
	background-color: #eeeff1;
	position: relative;
	z-index: 1;
}
.comments-gallery-photo{
	position: absolute;
	top: 50%;
	left: 50%;
	content: "";
	transform: translate(-50%,-50%);
	width: 320px;
	height: auto;
	box-shadow: 0 0 10px silver;
}

.comments-article {
	box-sizing: border-box;
	padding-top: 100px;
	padding-bottom: 70px;
	width: 58%;
	height: 364px;
	background-color: #eeeff1;
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.comments-article-name {
	width: 71%;
	margin: auto;
}
.comment-down{
	font-size: 16px;
	color:#767776;
  	line-height: 1.6;
  	font-family: 'Raleway', sans-serif;
}

/* Стрелка */
.slick-arrow{
position: absolute;
bottom: 10px;
right: 10px;
/*z-index: 100;*/
font-size: 0;
}
/* Стрелка влево */
.slick-prev{
	position: absolute;
	width: 53px;
	height: 53px;
	background-color: #fff;
	margin-right: 80px;
	box-shadow: 3px 3px 8px silver;
	border: none;
}
.slick-prev::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: url(../img/comments/arrow_left.png);
	line-height: 1;
	transform: translate(-50%,-50%);
	opacity: 0.5;
}
/* Стрелка вправо */
.slick-next{
	position: absolute;
	width: 53px;
	height: 53px;
	background-color: #fff;
	box-shadow: 3px 3px 8px silver;
	border: none;

}
.slick-next::after {
	content: url(../img/comments/arrow_right.png);
	position: absolute;
	line-height: 1px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0.5;
}
.slick-prev:hover {
	background-color: #71f6eb;
}
.slick-next:hover {
	background-color: #71f6eb;
}
.slick-prev:hover:after {
	opacity: 1;
}
.slick-next:hover:after {
	opacity: 1;
}
/* Точки (булиты) */
.slick-dots{
	display: flex;
	position: absolute;
	bottom: 0;
	left: 175px;
}
.slick-dots li{
	list-style: none;
	margin: 0 2px;
}
/* Активная точка */
.slick-dots li.slick-active button{
	background-color:#71f6eb;
}
/* Элемент точки */
.slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 30%;
	background-color:#eeeff1; 
}


/*----------------------------
       COMMENTS END
------------------------------*/
/*----------------------------
       CLIENTS START
------------------------------*/
.clients {
	padding:100px 0;
}
.clients__row1 {
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.clients__row1 {
	margin:0 auto;
	max-width: 50%;
	margin-bottom: 40px;
}
.clients__row2 {
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.clients__row2_item {
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.clients__row1 .clients_logo {
	width: auto;
	height: 100%;
}
.clients__row2 .clients_logo{
	width: auto;
	height: 100%;
}
.clients_logo {
	filter: brightness(0);
	opacity: 0.5;
	transition: 0.1s;
}
.clients_logo:hover {
	filter: brightness(1);
	opacity: 1;
}

@media(max-width: 992px){
	.clients__row1 {
		max-width: 70%;
	}
	.clients__row2 {
		max-width: 70%;
		margin: 0 auto;
		flex-direction: column;
		
	}
	.clients__row2_item{
		width: 100%;
		margin-bottom: 40px;
	}
	.clients__row2_item:last-child{
		margin-bottom: 0;
	}
}
@media(max-width: 768px){
	.clients__row1,.clients__row2 {
		max-width: 100%;
	}
}
/*----------------------------
       CLIENTS  END
------------------------------*/
/*----------------------------
       FORM START
------------------------------*/
.contact {
	background-image: url(../img/contact/cont_back.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.contact-wrap {
	display: flex;
	justify-content: space-between;
	opacity: 1;
	padding: 120px 0;
}

.contact__form {
	width: 54%;
	height: 460px;
	background-color: rgba(52, 71, 79,0.8);
	box-sizing: border-box;
	display: flex;	
	flex-direction: column;
	padding: 20px 30px 40px;
	font-size: 15px;
}
.form-field {
	background-color: transparent;
	padding: 15px 0;
	margin-bottom: 15px;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	outline:none;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	color: #fff;	
}
.form-field::placeholder{
	color: rgba(255,255,255,0.6);
}
.form-message {
	width: 100%;
	height: 100px;
	resize: none;
	overflow: auto;
}

.contact_btn {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 245px;
	height: 55px;
	background-color: #6eeee4;
	outline:none;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: #214744;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	opacity: 1;
	cursor: pointer;
}
.contact__address {
	width: 44%;
	height: 460px;
	background-color: rgba(52 , 71 ,79,0.8);
	font-family: 'arial', sans-serif;
}
.address-description{
	margin: 0;
	padding-top: 25px;
	padding-left: 29px;
	color: rgba(255,255,255,0.6);
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}
.address-description:first-child{
	margin-bottom: 0;
}
.contact-links{
	color:rgba(255,255,255,0.6);
}
.contact-links:hover{
	text-decoration: underline;
}
.map {
	width: 90%;
	height: 225px;
	margin: 0 auto;
	overflow: hidden;
}

@media (max-width:768px){
	.contact-wrap {
		flex-direction: column;
		
	}
	.contact__form{
		margin-bottom: 10px;
	}
	.contact__form,.contact__address {
		width: 100%;
	}
}
/*----------------------------
       FORM END
------------------------------*/

/*----------------------------
       FOOTER START
------------------------------*/
.footer {
	padding: 90px 0;
	background-color: #262b2e;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	line-height: 1.563;
	color: rgba(255, 255, 255, 0.8);
	margin: 0;
}
.follow_us {
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 18px;
	font-family: 'Montserrat', sans-serif;
}
.networks {
	display: flex;
	margin-bottom: 40px;
}

.networks_item {
	width: 47px;
	height: 40px;
	background-color: #424648;
	margin-right: 8px;
	position: relative;
}
.networks_item:last-child{
	margin-right: 0;
}
.networks_item:hover{
	background-color: #6eeee4;
	opacity: 1;
}
.networks_item_link{
	display: block;
	height: 100%;
}
.networks_item_link:hover {
	filter: brightness(0);
}
.item_link_img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.rights {
	color: rgba(255, 255, 255, 0.4);
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
@media (max-width:768px){
	.footer{
		padding: 5% 0;
	}
}
.scrollToTop{
	position: fixed;
	right: 40px;
	bottom: 40px;
	display: flex;
	align-items: flex-end;
	opacity: 0;
	transition: 0.5s;
}
.scrollToTop img{
	width: 40px;
	height: 40px;
}

/*поменяй цвет картинок*/
/*----------------------------
       FOOTER END
------------------------------*/
